@font-face {
    font-family: AdihausDIN;
    src: url(../assets/fonts/AdihausDIN-Regular.ttf) format('truetype');
}

* {
    font-family: AdihausDIN, sans-serif;
}

.light-gray {
    color: gray;
}

.display-flex {
    display: flex;
    object-fit: cover;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.main-layout {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.font-small {
    font-size: small;
}
.font-xx-large {
    font-size: xx-large;
}
.font-x-large {
    font-size: x-large;
}
.font-large {
    font-size: large;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-top-5 {
    padding-top: 5px;
}
.clickable {
    cursor: pointer;
}

.select-dropdown {
    padding: 10px;
    width: 60%;
    font-size: medium;;
}
.width-65 {
    width: 65%;
}
.width-30 {
    width: 30%;
}
.width-75 {
    width: 80%;
}
.margin-left-auto {
    margin-left: auto;
}
.margin-right-10 {
    margin-right: 10px;
}
.font-bold {
    font-weight: bold;
}
.buttonClassBig {
    width: 75%;
    background-color: black;
    color: white;
    padding: 10px;
}
.buttonClassSmall {
    width: 20%;
    background-color: white;
    color: black;
    padding-top: 5px;
    font-size: 22px;
    margin-left: auto;
}
.underlined {
    text-decoration: underline;
}
.font-size-15 {
    font-size: 15px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-25 {
    font-size: 25px;
}
figure {
    width: 60%;
    overflow: hidden;
    margin: 0;
    height: 30%;
 }
 figure img{
    display: block;
    width: 100%;
    margin-top: -40%;
 }
 .justify-content {
    justify-content: space-around;
 }
 select {
     font-size: small;
 }
 ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding-inline-start: 20px;
    margin-block-start: 10px;
  }
  li {
      padding-top: 5px
  }
  .width-35 {
    width: 35%;
  }
  .margin-bottom-15 {
    margin-bottom: 15px;
  }